body {
  background: #FAFAFA;
  min-width: 990px;
  height: 100%; }

#W_main {
  width: 988px;
  margin: 0 auto;
  background: 0 0; }
  #W_main .W_main_head {
    height: 115px;
    position: relative; }
    #W_main .W_main_head .W_main_head_content {
      position: absolute;
      top: 52px;
      left: 0; }
      #W_main .W_main_head .W_main_head_content a {
        float: left;
        margin-top: -8px; }
  #W_main .W_main_box {
    border: 1px solid #f0f0f0;
    background: #fff;
    min-height: 260px;
    margin: 40px auto 0; }
    #W_main .W_main_box .W_main_box_content {
      padding: 50px 0; }
      #W_main .W_main_box .W_main_box_content h5 {
        font-weight: 400;
        font-size: 28px;
        color: #000;
        padding-bottom: 30px;
        text-align: center; }
      #W_main .W_main_box .W_main_box_content .content_box {
        width: 338px;
        margin: 0 auto; }
        #W_main .W_main_box .W_main_box_content .content_box .box p {
          margin-top: 15px;
          line-height: 38px;
          position: relative;
          overflow: hidden; }
          #W_main .W_main_box .W_main_box_content .content_box .box p em {
            display: block;
            position: absolute;
            top: 12px;
            left: 11px; }
          #W_main .W_main_box .W_main_box_content .content_box .box p .icon-a-phone-icon {
            display: block;
            background-image: url(../img/a.png);
            background-position: -576px -25px;
            background-size: 589px;
            width: 12px;
            height: 16px; }
          #W_main .W_main_box .W_main_box_content .content_box .box p .icon-a-note-code {
            display: block;
            background-image: url(../img/a.png);
            background-position: -576px 0;
            background-size: 589px;
            width: 13px;
            height: 15px; }
          #W_main .W_main_box .W_main_box_content .content_box .box p .icon-a-note-code {
            display: block;
            background-image: url(../img/a.png);
            background-position: -576px 0;
            background-size: 589px;
            width: 13px;
            height: 15px; }
          #W_main .W_main_box .W_main_box_content .content_box .box p .r_stext {
            float: right;
            width: 98px;
            cursor: pointer;
            height: 38px;
            background: #fff;
            border: 1px solid #ddd;
            color: #333 !important;
            font-size: 12px;
            padding: 0; }
          #W_main .W_main_box .W_main_box_content .content_box .box p .icon-a-psd-icon {
            display: block;
            background-image: url(../img/a.png);
            background-position: -576px -51px;
            background-size: 589px;
            width: 12px;
            height: 15px; }
          #W_main .W_main_box .W_main_box_content .content_box .box p .ico {
            top: 12px;
            right: 11px;
            position: absolute; }
          #W_main .W_main_box .W_main_box_content .content_box .box p .icon-d-eye-close {
            display: block;
            background-image: url(../img/reg-d.png);
            background-position: -142px -92px;
            background-size: 220px;
            width: 16px;
            height: 16px; }
          #W_main .W_main_box .W_main_box_content .content_box .box p .imgCaptchaWrap {
            width: 193px; }
          #W_main .W_main_box .W_main_box_content .content_box .box p .r_imgCaptcha {
            width: 98px;
            cursor: pointer;
            height: 38px; }
          #W_main .W_main_box .W_main_box_content .content_box .box p input {
            width: 301px;
            height: 38px;
            line-height: 38px;
            border: 1px solid #e8e8e8;
            font-size: 12px;
            background-color: transparent;
            padding-left: 35px; }
        #W_main .W_main_box .W_main_box_content .content_box .box i {
          line-height: 16px;
          font-size: 10px;
          color: #d00000;
          margin-top: 8px;
          display: block;
          margin-bottom: -7px;
          font-weight: 700;
          background: url(../img/icon-a-error-icon.png) no-repeat left center;
          padding-left: 18px; }
        #W_main .W_main_box .W_main_box_content .content_box .recommend input {
          padding-left: 10px;
          width: 326px;
          margin-top: 15px;
          width: 301px;
          height: 38px;
          line-height: 38px;
          border: 1px solid #e8e8e8;
          font-size: 12px;
          background-color: transparent;
          padding-left: 35px; }
        #W_main .W_main_box .W_main_box_content .content_box .register {
          width: 340px;
          height: 38px;
          font-size: 14px;
          background: #b32424;
          color: #fff;
          border: 0;
          border-radius: 2px;
          display: block;
          margin: 35px auto 0;
          line-height: 38px;
          text-align: center; }
        #W_main .W_main_box .W_main_box_content .content_box .condition {
          font-size: 12px;
          color: #999;
          padding-bottom: 20px; }
        #W_main .W_main_box .W_main_box_content .content_box p {
          margin-top: 15px;
          line-height: 38px;
          position: relative;
          overflow: hidden; }

/*# sourceMappingURL=reg.css.map */
